{% extends 'base.html' %}

{% block title %}Mano užsakymai{% endblock %}

{% block heading %} Mano užsakymai {% endblock %}

{% block content %}
  <div style="list-style-type: none; padding-left: 0;">
    {% for order in orders %}
      <div class="order-item" style="margin-bottom: 20px;">
        <div class="order-item" style="margin-bottom: 20px; border: 1px solid #eee; padding: 15px;">
        <div>
          <strong>Užsakymas:</strong>
          <a href="{% url 'order-detail' order.id %}" style="text-decoration: none; color: #007bff; font-weight: bold;">
            {{ order.car }} (Peržiūrėti detales →)
          </a>
        </div>
        <div><strong>Data:</strong> {{ order.date }}</div>
        <div><strong>Statusas:</strong> {{ order.get_status_display }}</div>

        <hr style="border: 0; border-top: 1px solid #ccc; margin-top: 10px;">
      </div>
    {% empty %}
      <p>Jūs dar neturite jokių užsakymų.</p>
    {% endfor %}
  </div>
{% endblock %}