<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="{% url 'index' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    PRADŽIA
                </a>
                <a class="nav-link" href="{% url 'cars' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
                    Automobiliai
                </a>
                <a class="nav-link" href="{% url 'orders' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                    Visi Užsakymai
                </a>
                <a class="nav-link" href="{% url 'kainorastis' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tag"></i></div>
                    Kainos
                </a>

                {% if user.is_authenticated %}
                <div class="sb-sidenav-menu-heading">Mano zona</div>
                <a class="nav-link" href="{% url 'myorders' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-check"></i></div>
                    Mano Užsakymai
                </a>
                {% endif %}
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Prisijungęs:</div>
            {% if user.is_authenticated %}{{ user.username }}{% else %}Svečias{% endif %}
        </div>
    </nav>
</div>