{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock %}

{% block heading %} Užsakymas {% endblock %}

{% block content %}
<h1>Užsakymas:</h1>
<p>Tikslesni duomenys: </p>
<p>Uzsakymo statusas: {{ order.get_status_display }}</p>
<p>Uzsakymo data: {{ order.date }}</p>
<p>Uzsakymo automobilis: {{ order.car }}</p>
<hr>
<h2>Šio užsakymo eilutės:</h2>
{% for eilute in  order.eilutes.all %}
<hr>
<p>{{ eilute }}</p>
<p> <b>Suma:</b> {{ eilute.line_sum }}</p>

{% endfor %}
<hr>
<p> <b>Užsakymo kaina:</b> {{ order.total_cost }}</p>
{% endblock %}