{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock %}

{% block heading %} Užsakymas {% endblock %}

{% block content %}
<h1> {{ order.car }} </h1>
<p>Uzsakymo statusas: {{ order.get_status_display }}</p>
<p>Uzsakymo data: {{ order.date }}</p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
      </tr>
    </thead>
    <tbody>
    {% for eilute in  order.eilutes.all %}
      <tr>
        <td> {{ eilute.service }} </td>
        <td> {{ eilute.service.price }} </td>
        <td> {{ eilute.quantity }} </td>
        <td> {{ eilute.line_sum }} </td>
      </tr>
    {% endfor %}
    <tr>
        <th colspan="3"> BENDRA SUMA: </th>
        <th> {{ order.total_cost }} </th>
    </tr>

    </tbody>
  </table>


{% for review in order.reviews.all %}
<p><b> {{ review.reviewer }} </b> <i>{{ review.date_created }}</i></p>
<p> {{ review.content }} </p>
<hr>
{% endfor %}

{% endblock %}